<!--suppress HtmlFormInputWithoutLabel -->
<div class="row" style="margin: 10px">
    <div class="col-md-3" >
        <div class="input-group">
            <span class="input-group-addon">поиск</span>
            <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status">
        </div>
    </div>
</div>

<div class="row">
    <remove-filter></remove-filter>
</div>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>№ оферты</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Контрагент</th>
        <th>Управление</th>
    </tr>
    <tr ng-repeat="count in counts | orderBy : '-created' | fltRecByUser:filters.user | fltRecByFirm: filters.firm">
        <td>{{$index}}</td>
        <td>{{count.num}}</td>
        <td>{{getUser(count).username}}</td>
        <td>{{getFirm(count).name}}</td>
        <td>{{count.created|date : 'dd.MM.yyyy'}}</td>
        <td>{{count.sysNumber}}</td>
    </tr>
</table>
