<div class="row" style="margin: 10px">
    <div class="col-md-3" >
        <div class="input-group">
            <span class="input-group-addon">поиск</span>
            <input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status" title="">
        </div>
    </div>

    <div class="col-md-3" ng-show="!creating">
        <button type="button" class="btn btn-default" ng-click="creating = true" > Добавить фирму </button>
    </div>

    <div ng-show="creating">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="название фирмы" ng-model="name">
        </div>

        <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" ng-click="creating = false"> отмена </button>
        <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" ng-click="create()"> сохранить </button>

    </div>

</div>

<div class="row">
    <remove-filter></remove-filter>
</div>

<table class="table table-hover admin-firms">
    <tr>
        <th style="width: 3%">#</th>
        <th style="width: 30%">Организация</th>
        <th style="width: 20%">Дата создания</th>
        <th style="width: 20%">начальный № оферты</th>
        <th style="width: 20%">Управление</th>
    </tr>
    <tr ng-repeat="firm in filtered()">
        <td>{{$index}}</td>
        <td><field-input value="firm.name"></field-input></td>
        <td><field-date value="firm.created"></field-date></td>
        <td>{{firm.created|date : 'dd.MM.yyyy'}}</td>
        <td>
            <a href="" title="смотреть записи по данной фирме"
               ng-click="filters.firm = firm"
               ui-sref="main.admin.records"><i class="fa fa-book"></i></a>
            <a href="" title="смотреть пользователей привязанных к фирме"
               ng-click="filters.firm = firm"
               ui-sref="main.admin.users"><i class="fa fa-users"></i></a>
        </td>
    </tr>
</table>
