<div class="row" style="margin: 10px">

    <div class="col-md-3" ng-show="!creating">
        <button type="button" class="btn btn-default" ng-click="creating = true" > Добавить фирму </button>
    </div>

    <div ng-show="creating">
        <div class="col-md-3">
                <input type="text" class="form-control" placeholder="название фирмы" ng-model="name">
        </div>
        <div class="col-md-2">
            <input type="number" class="form-control" placeholder="нумерация СФ с ..." pattern="^[ 0-9]+$" ng-model="startNum">
        </div>

        <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" ng-click="creating = false"> отмена </button>
        <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" ng-click="create()">
            Сохранить <i class="fa-li fa fa-spinner fa-spin" style="position: inherit" ng-show="progress"></i>
        </button>

    </div>

</div>

<div class="row">
    <remove-filter></remove-filter>
</div>

<table class="table table-hover admin-firms">
    <tr>
        <th style="width: 3%">#</th>
        <th style="width: 30%">Организация</th>
        <th style="width: 20%">Дата создания</th>
        <th style="width: 20%">начальный № оферты</th>
        <th style="width: 20%">Управление</th>
    </tr>
    <tr ng-repeat="firm in filtered()">
        <td>{{$index}}</td>
        <td><field-input object="firm" field="name" options="options"></field-input></td>
        <td><field-date object="firm" field="created" options="options"></field-date></td>
        <td>{{firm.startNum}}</td>
        <td>
            <a href="" title="смотреть записи по данной фирме"
               ng-click="filters.firm = firm"
               ui-sref="main.admin.records"><i class="fa fa-book"></i></a>
            <a href="" title="смотреть пользователей привязанных к фирме"
               ng-click="filters.firm = firm"
               ui-sref="main.admin.users"><i class="fa fa-users"></i></a>
        </td>
    </tr>
</table>
