<!--suppress HtmlFormInputWithoutLabel -->
<!--<div class="row" style="margin: 10px">-->
    <!--<div class="col-md-3" >-->
        <!--<div class="input-group">-->
            <!--<span class="input-group-addon">поиск</span>-->
            <!--<input type="text" class="form-control" id="inputGroupSuccess3" aria-describedby="inputGroupSuccess3Status">-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div class="row">
    <h3>Фактуры пользователей. </h3>
</div>
<div class="row">
    <remove-filter></remove-filter>
</div>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>№ оферты</th>
        <th>Дата</th>
        <th>Сумма</th>
        <th>Контрагенты</th>
        <th>№СФ</th>
        <th>Управление</th>
    </tr>
    <tr ng-repeat="count in counts | orderBy : 'contractor' | fltRecByUser:filters.user | fltRecByFirm: filters.firm">
        <td>{{$index}}</td>
        <td>{{count.systemNum}}</td>
        <td><field-date object="count" field="created" options="options"></field-date></td>
        <td><field-input object="count" field="amount" options="options"></field-input></td>
        <td>{{getUser(count.createdBy).contractor}}</td>
        <td>{{count.sysNumber}}</td>
        <td><a href="" ng-click="remove(count)"><i class="fa fa-times"></i></a></td>
    </tr>
</table>
