<div class="row">
    <div class="bs-docs-section">
        <h1 class="page-header">Смена пароля</h1>

        <h4>Смена пароля администратора</h4>

        <p>Данная страница не доступна обычному пользователю. Пароль может сменить только администратор.</p>
        <p>Для смены пароля укажите в форме ниже старый пароль, а также новый и проверочный. Если все данные
        введены корректно, пароль измениться. Он будет необходим при следущем входе в программу.</p>

        <h4>Изменение пароля пользователя</h4>

        <p>Администратор также может санкционировать изменение пароля для любого пользователя. <br/>Перейдитке к
            <a href="" ui-sref="main.admin.users">странице списка пользователей</a>, выберите из списка строку с нужным пользователем и в разделе <strong>"управление"</strong>
            кликните по иконке <i class="fa fa-user-secret"></i> <strong>"смена пароля для пользователя"</strong>. Будет сгенерирован новый пароль для
            пользователя. <br/>При этом администратор увидит новый пароль на экране, а пользователь получить уведомление
            с новым паролем по почте. </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label for="last-pass">Введите старый пароль</label>
        <input type="password" class="form-control" id="last-pass" ng-model="password" />

        <label for="new-pass" >Введите новый пароль</label>
        <input type="password" class="form-control" id="new-pass" ng-model="newPass" />

        <label for="check-pass" >Введите новый пароль для проверки</label>
        <input type="password" class="form-control" id="check-pass" ng-model="checkPass"/>

        <button class="btn btn-default" style="margin-top: 10px;" ng-click="update()">Изменить</button>
    </div>
</div>