<div class="multiselect">

    <ul class="selected">
        <li>Найдено <i class="fa fa-times"></i></li>
        <li>ООО металлург <i class="fa fa-times"></i></li>
        <li>металист <i class="fa fa-times"></i></li>
        <li>кардио <i class="fa fa-times"></i></li>
        <li>хрень <i class="fa fa-times"></i></li>
        <li><i class="fa fa-user-plus"></i></li>
    </ul>
    <div class="dropdown">
        <ul>
            <li>asdasf</li>
            <li>asdfasdfasdfasdfasdfadfasdfasdfasdfasdfasdfadfa</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
            <li>asdfasdfasdfadsf</li>
        </ul>
    </div>


</div>