<div class="multiselect">

    <ul class="selected">
        <li ng-repeat="e in values">{{get(e)}} <i class="fa fa-times" ng-click="remove(e)"></i></li>
        <li ng-click="flip($event)"><i class="fa fa-user-plus"></i></li>
    </ul>

    <div class="dropdown" ng-show="dropdown">
        <ul>
            <li class="list-header"><b>{{placeholder}}</b></li>
            <li ng-if="flt().length" ng-repeat="e in flt()" ng-click="set($event, e)">{{get(e._id)}}</li>
            <li ng-if="!flt().length"><i>Список пуст.</i></li>
        </ul>
    </div>

</div>