<!--suppress HtmlFormInputWithoutLabel -->
<div>
    <div class="row">
        <h2>фирма: {{firm.name}}</h2>
    </div>
    <div class="row" style="margin: 10px;">

        <div class="col-md-3" ng-show="!creating">
            <button type="button" class="btn btn-default" ng-click="creating = true" > Добавить фактуру </button>
        </div>

        <div class="col-md-8"  ng-show="creating">
            <div>

                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Руб.</div>
                            <input type="text" ng-model="amount" class="form-control" placeholder="Сумма">
                            <div class="input-group-addon">
                                <field-date object="dateNow" field="created"></field-date>
                            </div>
                        </div>
                    </div>

                    <select class="form-control" ng-model = 'contractor'
                            ng-options="c as c for c in getContractors()"> выберите фирму
                            <!--ng-options="firm as firm.name for firm in firms"> выберите фирму-->
                    </select>

                    <button type="button" class="btn btn-default" ng-click="create()">Создать <i class="fa-li fa fa-spinner fa-spin" style="position: inherit" ng-show="progress"></i></button>
                    <button type="button" class="btn btn-default" ng-click="creating=false">Отмена</button>
                </form>
            </div>
        </div>

        <!--<div class="row">{{getContractors()}}</div>-->

        <div class="col-md-3">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="First group">
                    <button type="button" class="btn btn-default"
                            ng-click="closed=true" ng-class="{active:closed}"
                            title="показать оферты с номером">
                        <i class="fa fa-lock"></i></button>
                    <button type="button" class="btn btn-default"
                            ng-click="closed=false" ng-class="{active:!closed}"
                            title="показать оферты без номера">
                        <i class="fa fa-unlock"></i></button>
                    <!--<button type="button" class="btn btn-default">март 2015 {{closed}}</button>-->
                </div>

            </div>
        </div>


    </div>

    <table class="table table-condensed">
        <tr>
            <th style="min-width: 30px;">#</th>
            <th style="min-width: 250px;">Контрагент</th>
            <th style="min-width: 250px;">Дата</th>
            <th style="min-width: 250px;">Сумма</th>
            <th style="min-width: 250px;">№ оферты</th>
            <th style="min-width: 250px;">Управление</th>
        </tr>
        <tr ng-repeat="count in filtered() | filter: {firm: firm._id} | orderBy: 'sysNumber'">
            <td>{{$index+1}}</td>
            <td>{{count.contractor}}</td>
            <td><field-date object="count" field="created" options="options"></field-date></td>
            <td><field-input object="count" field="amount" options="options"></field-input></td>
            <td>{{count.sysNumber || 'нет номера'}}</td>
            <td>
                <a href="" ng-click="remove(count)" ng-if="!count.sysNumber"><i class="fa fa-times"></i></a>
            </td>
        </tr>
    </table>
</div>
