#mainContent {
    margin-top: 55px;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 30px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.management a {
    margin: 0 5px;
}
.delete-filter a:hover{
    text-decoration: line-through;
}
