<div class="coll-md-12">
<div class="row">
    <h2> Панель управления администратора </h2>
</div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" ui-sref-active="active"><a href="" ui-sref="main.admin.users">Пользователи </a></li>
            <li role="presentation" ui-sref-active="active"><a href="" ui-sref="main.admin.firms">Фирмы</a></li>
            <li role="presentation" ui-sref-active="active"><a href="" ui-sref="main.admin.records">Данные</a></li>
        </ul>


    </div>
    <div ui-view class="row"></div>
</div>

