<div>
    <h2>user: {{userName}}</h2>
    <input type="text" ng-model="userName"/>
    <input type="text" ng-model="password"/>
    <ul>
        <li ><a href="" ng-click="login()"> test login {{a}}</a></li>
        <li><a href="" ng-click="logout()">test logout </a></li>
        <li ><a href="" ng-click="createUser()">test create user</a>

        </li>
        <li><a href="">update user</a></li>
        <li><a href="">delete user</a></li>
        <li><a href="" ng-click="getUsers()"> get user</a></li>
    </ul>
</div>